.results
  display: flex
  flex-direction: column
  width: 600px
  margin: auto
  padding-top: 60px

  h1
    color: #6c7293
    text-align: center
    margin-bottom: 20px
    font-size: 34px
    letter-spacing: .5px

  .TopRow
    margin-bottom: 30px

.loading
  margin: auto
  width: 300px
  margin-top: 60px

  img
    display: block
    margin: auto
    margin-bottom: -18px

  h1
    text-align: center
    color: #6c7293
    letter-spacing: .5px